/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    height: 100vh;
}


/* regole carosello */
.mySlides {
    display:none;
}

.active {
    display:block;
}


/* regole miniature */
.thumbnail {
    opacity:0.6;
}
.thumbnail.active {
    border:2px solid #f00; opacity:1;
}